@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #00000010;
}

/* Common Css Style */
.primary-color{
    color: #252432;
}

.secondary-color{
    color: #000000;
}

.bold{
    font-weight: bold;
}

/* Header */
header {
  width: 90%;
  /* border: 1px solid black; */
  margin: 0 auto;
  padding:10px 0px;
}

.nav-section {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  /* border: 1px solid black; */
  width:39%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #8987A1;
  font-family: "Inter", sans-serif;
}

.hero-section{
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    gap: 20px;
}

.hero-content{
    /* border: 1px solid black; */
    width: 55%;
}

.hero-content h1{
    font-size: 4rem;
    font-family: "Noto Serif", serif;
}

.hero-content h1 span{
    color: #E95A08;
}

.hero-content p{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    line-height: 1.4;
    margin-top: 13px;
}

.hero-image img{
    width: 100%;
}

.plants-section{
    width: 90%;
    /* border: 1px solid black; */
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.plants-top{
    /* border: 1px solid black; */
    text-align: center;
    width: 70%;
    /* margin: 0 auto; */
}

.plants-top h1{
    font-weight: bold;
    font-size: 3.125rem;
    font-family: "Noto Serif", serif;
}

.plants-top h1 span{
    color: #E95A08;
}

.plants-top p{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    margin-top: 7px;
    color: #00000050;
}

.plants-cards{
    width: 100%;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.plant-card{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
}

.plant-card img{
    width: 100%;
}

.plant-card button{
    width: 100%;
    padding: 11px;
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
}


/* For Mobile Devices */

@media screen and (max-width:576px) {
    header{ 
        padding:0px;
        width: 100%;
    }

    .nav-section{
        width: 90%;
        margin: 0 auto;
    }

    .home , .shop , .about{
        display: none;
    }

    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 28px;
        /* border: 1px solid black; */
        padding: 0px;
        width: 100%;
    }

    .hero-content{
        width: 90%;
        /* border: 1px solid black; */
    }

    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 0.875rem;
    }

    .plants-top{
        width: 90%;
    }

    .plants-top h1{
        font-size: 2.5rem;
    }

    .plants-top p{
        font-size: 0.875rem;
    }

    .plants-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .plant-card h2 , .plant-card h3{
        font-size: 1rem;
    }
}