@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #00000010;
}

/* Common Css Style */
.primary-color{
    color: #252432;
}

.secondary-color{
    color: #000000;
}

.bold{
    font-weight: bold;
}

/* Header */
header {
  width: 90%;
  /* border: 1px solid black; */
  margin: 0 auto;
  padding:10px 0px;
}

.nav-section {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  /* border: 1px solid black; */
  width:39%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #8987A1;
  font-family: "Inter", sans-serif;
}

.hero-section{
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    gap: 20px;
}

.hero-content{
    /* border: 1px solid black; */
    width: 55%;
}

.hero-content h1{
    font-size: 4rem;
    font-family: "Noto Serif", serif;
}

.hero-content h1 span{
    color: #E95A08;
}

.hero-content p{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    line-height: 1.4;
    margin-top: 13px;
}

.hero-image img{
    width: 100%;
}

.plants-section{
    width: 90%;
    /* border: 1px solid black; */
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.plants-top{
    /* border: 1px solid black; */
    text-align: center;
    width: 70%;
    /* margin: 0 auto; */
}

.plants-top h1{
    font-weight: bold;
    font-size: 3.125rem;
    font-family: "Noto Serif", serif;
}

.plants-top h1 span{
    color: #E95A08;
}

.plants-top p{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    margin-top: 7px;
    color: #00000050;
}

.plants-cards{
    width: 100%;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.plant-card{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
}

.plant-card img{
    width: 100%;
}

.plant-card button{
    width: 100%;
    padding: 11px;
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
}

.lover-section{
    width: 90%;
    /* border: 1px solid black; */
    margin: 125px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.lover-image{
    width: 55%;
    /* border: 1px solid green; */
    background-image: url('./assets/flower-store.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lover-image img{
    width: 40%;
    /* border: 1px solid black; */
    position: absolute;
    right: -110px;
    top: -95px;
    filter: drop-shadow(-4px 10px 4px #00000055);
    transition:all 2s ease-in-out;
}

.lover-image img:hover{
     transform: rotate(360deg);
}

.lover-content{
    width: 40%;
    /* border: 1px solid black; */
    padding: 45px;
}

.lover-content h1{
    font-size: 3.125rem;
    font-family: "Noto Serif", serif;
    margin-left: -20px;
}

.lover-content ul li{
    color: #00000070;
}

.lover-content ul li p{
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    margin-top: 35px;
}

.deals-section{
    width: 90%;
    /* border: 1px solid black; */
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.deals-top{
    width: 70%;
    text-align: center;
    /* border: 1px solid black; */
}

.deals-top h1{
    font-size: 3.125rem;
    font-family: "Noto Serif", serif;
}

.deals-top h1 span{
    color: #E95A08;
}

.deals-top p{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    color: #00000050;
    margin-top: 15px;
}

.deals-cards{
    width: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.deal-card{
    padding: 60px 0px;
    border-radius: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.deal-card::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.deal-card h2{
    font-family: "Noto Serif", serif;
    font-size: 1.6rem;
    z-index: 1;
}

.deal-card a{
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    z-index: 1;
}

.dc1{
    background-image: url('./assets/deal-bloom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dc2{
    background-image: url('./assets/deal-zabo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: span 2;
}

.dc3{
    background-image: url('./assets/deal-ana.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    width: 100%;
}

.join-section{
    width: 100%;
    height: 60vh;
    /* border: 1px solid black; */
    background-image: url('./assets/news-letter-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.join-section h1{
    font-size: 3.125rem;
    color: #ffffff;
    font-family: "Noto Serif", serif;
}

.input-mail{
    width: 830px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-mail input[type="email"]{
    width: 70%;
    height: 100%;
    padding: 10px;
    color: #00000050;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: none;
}

.input-mail button{
    width: 29%;
    height: 100%;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    background-color: #E95A08;
    border: none;
    margin-left: -1px;
}

.end-section{
    width: 100%;
    height: 30vh;
}

.end-container{
    width: 90%;
    /* border: 1px solid black; */
    margin: 30px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}

.end-container > div{
    /* border: 1px solid black; */
    width: 22%;
}

.company-info p{
    color: #00000090;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 10px;
}

.info-link1 ul , .info-link2 ul{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 25px;
}

.info-link1 ul li , .info-link2 ul li{
    list-style: none;
}

.info-link1 ul li a , .info-link2 ul li a{
    text-decoration: none;
    color: #6B7280;
    font-size: 1rem;
}

.social img{
   margin-left: 20px;
}



/* For Mobile Devices */

@media screen and (max-width:576px) {
    header{ 
        padding-top:10px;
        width: 100%;
    }

    .nav-section{
        width: 90%;
        margin: 0 auto;
    }

    .home , .shop , .about{
        display: none;
    }

    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
        /* border: 1px solid black; */
        padding: 0px;
        width: 100%;
    }

    .hero-content{
        width: 90%;
        /* border: 1px solid black; */
    }

    .hero-content h1{
        font-size: 1.75rem;
    }

    .hero-content p{
        font-size: 0.875rem;
    }

    .plants-top{
        width: 90%;
    }

    .plants-top h1{
        font-size: 1.95rem;
    }

    .plants-top p{
        font-size: 0.875rem;
    }

    .plants-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .plant-card h2 , .plant-card h3{
        font-size: 1rem;
    }

    .lover-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .lover-image{
        width: 100%;
        height: 60vh;
    }

    .lover-image img{
        display: none;
    }

    .lover-content{
        width: 100%;
        /* border: 1px solid black; */
    }

    .lover-content h1{
        font-size: 1.95rem;
        /* border: 1px solid black; */
    }

    .deals-top h1{
        font-size: 1.95rem;
    }

    .deals-top p{
        font-size: 0.8rem;
        color: #00000050;
        font-weight: 600;
    }

    .deals-cards{
        grid-template-columns: repeat(1,1fr);
    }

    .deal-card h2{
        font-size: 1.25rem;
    }

    .deal-card a{
        font-size: 1.15rem;
    }

    .join-section{
        height: 55vh;
    }

    .join-section h1{
        font-size: 1.4rem;
    }

    .input-mail{
        width: 88%;
        height: 45px;
    }

    .end-container{
        flex-direction: column;
        gap: 35px;
    }

    .end-container > div {
        width: 100%;
    }

    .info-link1 ul , .info-link2 ul {
        padding: 0px;
    }

    .social img{
        /* border: 1px solid black; */
        margin: 0px;
        margin-right: 20px;
    }
}